<%- include('partials/header') -%>
    <h1>Jesus te ama</h1>
    <p>
        <%=content %>
    </p>


    <% posts.forEach(post=> { %>
        <div>
            <h2>
                <%= post.title %>
            </h2>
            <p>
                <%= post.description.substring(0,100) + "..." %> <br />
            </p>
            <a href="/post/<%= post.title %>">Leia mais...</a>

        </div>
        <% }); %>
            <%- include('partials/footer') -%>